{% extends "base.html" %} {% block style %}
<link
    rel="stylesheet"
    href="{{ url_for('static', filename='css/attraction.css') }}"
/>
{% endblock %} {% block main %}
<div class="attraction grid-center-h">
    <div class="attraction__main grid-center-h">
        <div class="attraction__carousel">
            <button class="carousel__button prev">
                <img
                    src="{{ url_for('static', filename='img/Button/btn_leftArrow.png') }}"
                />
            </button>
            <button class="carousel__button next">
                <img
                    src="{{ url_for('static', filename='img/Button/btn_rightArrow.png') }}"
                />
            </button>
            <ul class="slides"></ul>
            <ul class="circles"></ul>
        </div>
        <div class="attraction__feature">
            <h1 class="attraction__title"></h1>
            <p class="attraction__subtitle">
                <span class="attraction__category"></span>
                at
                <span class="attraction__mrt"></span>
            </p>
            <div class="attraction__reserve">
                <h2 class="reserve__title">訂購導覽行程</h2>
                <p class="reserve__description">
                    以此景點為中心的一日行程，帶您探索城市角落故事
                </p>
                <label class="reserve__date" for="date">選擇日期：</label>
                <input
                    class="input__date"
                    type="date"
                    name="date"
                    id="date"
                    required
                />
                <span class="error_message"></span>
                <p class="reserve__time">
                    選擇時間：
                    <input
                        class="input__time"
                        type="radio"
                        name="price"
                        value="forenoon"
                        id="forenoon"
                        checked
                    />
                    <label class="t-normal" for="forenoon">上半天</label>
                    <input
                        class="input__time"
                        type="radio"
                        name="price"
                        value="afternoon"
                        id="afternoon"
                    />
                    <label class="t-normal" for="afternoon">下半天</label>
                </p>
                <p class="reserve__price">
                    導覽費用：
                    <span class="t-normal"
                        >新台幣 <span class="price">2000</span> 元</span
                    >
                </p>
                <input
                    class="reserve__button"
                    type="submit"
                    value="開始預定行程"
                />
            </div>
        </div>
    </div>
    <hr class="attraction__divider" />
    <div class="attraction__info">
        <p class="attraction__description"></p>
        <h2>景點地址：</h2>
        <p class="attraction__address"></p>
        <h2>交通方式：</h2>
        <p class="attraction__transport"></p>
    </div>
</div>
{% endblock %} {% block script %}
<script src="{{ url_for('static', filename='js/attraction.js') }}"></script>
{% endblock %}
