<!DOCTYPE html>
<html lang="zh-Hant">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta name="robots" content="index, follow" />
        <meta name="author" content="ChengTze" />
        <title>台北一日遊</title>
        <link
            rel="stylesheet"
            href="{{ url_for('static', filename='css/style.css') }}"
        />
    </head>
    <body>
        <header class="header">
            <div class="w-1200 grid-horizon grid-sb">
                <h1 class="header__title">台北一日遊</h1>
                <ul class="header__nav grid-horizon">
                    <li>預定行程</li>
                    <li>登入/註冊</li>
                </ul>
            </div>
        </header>
        {% block banner %}{% endblock %}
        <main class="main grid-center">{% block main %}{% endblock %}</main>
        <footer class="footer grid-center">
            <h1 class="footer__title">COPYRIGHT © 2021 台北一日遊</h1>
        </footer>
        {% block main_script %}{% endblock %}
    </body>
</html>
