<!DOCTYPE html>
<html lang="zh-Hant">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta name="robots" content="index, follow" />
        <meta name="author" content="ChengTze" />
        <title>台北一日遊</title>
        <link rel="icon" href="#" />
        <link
            rel="stylesheet"
            href="{{ url_for('static', filename='css/base.css') }}"
        />
        <link
            rel="stylesheet"
            href="{{ url_for('static', filename='css/member.css') }}"
        />
        {% block style %}{% endblock %}
    </head>
    <body>
        {% include 'member.html' %}
        <header class="header">
            <div class="w-1200 grid-horizon grid-sb">
                <a href="/" class="header__title">台北一日遊</a>
                <ul class="header__nav grid-horizon">
                    <li class="nav__reserve nav__item">預定行程</li>
                    <li class="nav__sign nav__item"></li>
                </ul>
            </div>
        </header>
        {% block banner %}{% endblock %}
        <main class="main">{% block main %}{% endblock %}</main>

        <footer class="footer grid-center">
            <h1 class="footer__title">COPYRIGHT © 2021 台北一日遊</h1>
        </footer>

        <script src="{{ url_for('static', filename='js/member.js') }}"></script>
        {% block script %}{% endblock %}
    </body>
</html>
