{% extends "base.html" %} {% block style %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/booking.css') }}" />
{% endblock %}{% block main %}
<div class="grid-center">
    <h2 class="booking_title w-980">
        您好，<span id="user_name"></span>，待預定的行程如下：
    </h2>
</div>
<div class="booked grid-center" data-active>
    <div class="detail w-980">
        <img class="delete" src="{{ url_for('static', filename='img/icon_delete.png') }}" />
        <img class="img" id="attraction_image" />
        <div class="text">
            <h3 class="detail__title">
                台北一日遊：<span id="attraction_name"></span>
            </h3>
            <h3 class="detail__date">
                日期：<span class="text-normal" id="booking_date"></span>
            </h3>
            <h3 class="detail__time">
                時間：<span class="text-normal" id="booking_time"></span>
            </h3>
            <h3 class="detail__charge">
                費用：<span class="text-normal" id="booking_price"></span>
            </h3>
            <h3 class="detail__location">
                地點：<span class="text-normal" id="attraction_address"></span>
            </h3>
        </div>
    </div>
    <hr class="booking_hr" />
    <div class="contact w-980">
        <h2 class="contact__title">您的聯絡資訊</h2>
        <label class="contact__lable contact__name" for="name">聯絡姓名：</label><input class="contact__name_input"
            type="text" name="name" id="name" />
        <br />
        <label class="contact__lable contact__email" for="email">連絡信箱：</label><input class="contact__email_input"
            type="email" name="email" id="email" />
        <br />
        <label class="contact__lable contact__phone" for="phone">手機號碼：</label><input class="contact__phone_input"
            type="text" name="phone" id="phone" />
        <br />
        <h3 class="contact__remind">
            請保持手機暢通，準時到達，導覽人員將用手機與您聯繫，務必留下正確的聯絡方式。
        </h3>
    </div>
    <hr class="booking_hr" />
    <div class="card w-980">
        <!-- TapPay -->
        <h2 class="card__title">信用卡付款資訊</h2>
        <div class="card__item">
            <p>卡片號碼：</p>
            <div class="tpfield" id="card-number"></div>
        </div>
        <div class="card__item">
            <p>過期時間：</p>
            <div class="tpfield" id="card-expiration-date"></div>
        </div>
        <div class="card__item">
            <p>驗證密碼：</p>
            <div class="tpfield" id="card-ccv"></div>
        </div>
    </div>

    <hr class="booking_hr" />
    <div class="w-980 grid-jc-end">
        <h3 class="total_price">
            總價：新台幣 <span id="booking_price"></span> 元
        </h3>
        <input class="pay_btn" id="submit-button" type="button" value="確認訂購並付款" />
    </div>
</div>
<div class="unbook grid-center" data-active>
    <p class="booking_content w-980">目前沒有任何待預訂的行程</p>
</div>
{% endblock %} {% block script %}
<script src="https://js.tappaysdk.com/tpdirect/v5.8.0"></script>
<script src="{{ url_for('static', filename='js/booking.js') }}"></script>
{% endblock %}