{% extends "base.html" %} {% block banner %}
<div class="banner">
    <div class="w-1200 grid-center-v">
        <h1 class="banner__title">輕鬆享受台北一日悠閒</h1>
        <h2 class="banner__subtitle">探索每個角落，體驗城市的深度旅遊行程</h2>
        <div class="banner__search">
            <input
                class="banner__search__input"
                id="banner__search__input"
                type="text"
                placeholder="輸入景點名稱查詢"
            />
            <label
                class="banner__search__lable grid-center"
                for="banner__search__input"
                src="{{ url_for('static', filename='img/search.png') }}"
            >
                <img
                    class="banner__search__image"
                    src="{{ url_for('static', filename='img/search.png') }}"
                />
            </label>
            <p class="banner__search__message"></p>
        </div>
    </div>
    <img
        class="banner_image"
        src="{{ url_for('static', filename='img/welcome.png') }}"
        alt=""
    />
</div>
{% endblock %} {% block main %}
<div class="album w-1200"></div>
{% endblock %} {% block main_script %}
<script src="{{ url_for('static', filename='js/index.js') }}"></script>
{% endblock %}
