{% extends "base.html" %} {% block banner %}
<div class="banner">
    <div class="w-1200 grid-center-v">
        <h1 class="banner__title">輕鬆享受台北一日悠閒</h1>
        <h2 class="banner__subtitle">探索每個角落，體驗城市的深度旅遊行程</h2>
        <form class="banner__search grid-horizon">
            <input
                class="banner__search__input"
                type="text"
                placeholder="輸入景點名稱查詢"
            />
        </form>
    </div>
    <img
        class="banner_image"
        src="{{ url_for('static', filename='img/welcome.png') }}"
        alt=""
    />
</div>
{% endblock %} {% block main %}
<div class="album w-1200"></div>
{% endblock %} {% block main_script %}
<script>
    function display_album_item(image, name, mrt, category) {
        const album = document.querySelector(".album");
        const album__item = document.createElement("div");
        const album__item__image = document.createElement("img");
        const album__item__name = document.createElement("div");
        const album__item__mrt = document.createElement("div");
        const album__item__category = document.createElement("div");
        const name_textNode = document.createTextNode(name);
        const mrt_textNode = document.createTextNode(mrt);
        const category_textNode = document.createTextNode(category);

        album__item.className = "album__item";
        album__item__image.className = "album__item__image";
        album__item__name.className = "album__item__name";
        album__item__mrt.className = "album__item__mrt";
        album__item__category.className = "album__item__category";

        album__item__image.src = image;
        album__item__name.appendChild(name_textNode);
        album__item__mrt.appendChild(mrt_textNode);
        album__item__category.appendChild(category_textNode);

        album__item.appendChild(album__item__image);
        album__item.appendChild(album__item__name);
        album__item.appendChild(album__item__mrt);
        album__item.appendChild(album__item__category);
        album.appendChild(album__item);
    }
    function display_not_found(k, m) {
        const album = document.querySelector(".album");
        const message = document.createElement("p");
        const message_textNode = document.createTextNode(
            "找不到「" + k + "」，查" + m + "。"
        );
        message.appendChild(message_textNode);
        album.appendChild(message);
    }
    function remove_items_in_album() {
        let album = document.querySelector(".album");
        while (album.hasChildNodes()) {
            album.removeChild(album.firstChild);
        }
    }

    async function load_attractions(page, keyword) {
        let url = "/api/attractions";
        let full_url;
        if (keyword) {
            full_url = url + "?page=" + page + "&keyword=" + keyword;
        } else {
            full_url = url + "?page=" + page;
        }
        let response = await fetch(full_url);
        let json_data = await response.json();

        if (json_data["error"]) {
            display_not_found(keyword, json_data["message"]);
            g_page = null;
        } else {
            json_data["data"].forEach((item) => {
                const image = item["images"][0];
                const name = item["name"];
                const mrt = item["mrt"];
                const category = item["category"];
                display_album_item(image, name, mrt, category);
            });
            g_page = json_data["nextPage"];
        }
    }
    function show_data_with_scroll(keyword) {
        const callback = (entries, observer) => {
            input.addEventListener("keyup", () => {
                g_page = 0;
                observer.unobserve(target);
            });
            entries.forEach((e) => {
                if (e.isIntersecting) {
                    if (g_page != null) {
                        load_attractions(g_page, keyword);
                    } else {
                        observer.unobserve(target);
                    }
                }
            });
        };
        const observer = new IntersectionObserver(callback, {
            threshold: 0,
        });
        const target = document.querySelector(".footer");
        observer.observe(target);
    }

    // main execution
    let g_page = 0;
    let input = document.querySelector(".banner__search__input");
    load_attractions(0).then(() => {
        show_data_with_scroll();
    });

    input.addEventListener("keyup", () => {
        let keyword = input.value;
        remove_items_in_album();
        event.preventDefault();
        load_attractions(0, keyword).then(() => {
            show_data_with_scroll(keyword);
        });
    });
</script>
{% endblock %}
