<div class="modal">
    <div class="modal__box">
        <div class="bar"></div>
        <span class="close">&#x2715;</span>
        <div class="signin">
            <h2>登入會員帳號</h2>
            <input
                class="signin__input"
                type="email"
                placeholder="輸入電子信箱"
                required
            />
            <input
                class="signin__input"
                type="password"
                placeholder="輸入密碼"
                required
            />
            <button class="signin__button">登入帳戶</button>
        </div>
        <div class="signup">
            <h2>註冊會員帳號</h2>
            <input
                class="signup__input"
                type="text"
                placeholder="輸入姓名"
                required
            />
            <input
                class="signup__input"
                type="email"
                placeholder="輸入電子信箱"
                required
            />
            <input
                class="signup__input"
                type="password"
                placeholder="輸入密碼"
                required
            />
            <button class="signup__button">註冊新帳戶</button>
        </div>
    </div>
</div>
